.myContainer {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.myContainer1 {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.quizSection {
  background-color: rgb(255, 253, 242);
}
h3.title {
  border: 1px solid rgb(245, 232, 232);
  height: 70px;
  padding: 20px;
  font-size: 30px;
}

select.dropDown {
  width: 210px;
  height: 40px;
  background-color: white;
  color: rgb(119, 110, 110);
  border-style: ridge;
}
select.dropDown:after {
  margin-left: 60px;
}

Form.option {
  margin-left: -10px !important;
}
.deleteIcon {
  float: right;
  margin-top: -30px;
  margin-right: -25px;
}
.deleteIcon:hover {
  cursor: pointer;
}
.crossIcon {
  float: right;
  margin-top: -30px;
  margin-right: 10px;
}

.checkIcon {
  float: right;
  margin-top: -30px;
  margin-right: 40px;
}
